<div id='notLoggedIn'>
  Please sign in to view content.
</div>
<div id='content' hidden='true'>
  <a><div (click)='getRecipes()'>Show All</div></a>
  <div>Refine your search by one of the following...</div>
  <div>World Cuisine: <a><div style="display: inline;" (click)='getRecipeByWorldCuisine("USA")'>USA</div></a>
      <div style="display: inline;">|</div>
      <a><div style="display: inline;" (click)='getRecipeByWorldCuisine("Puerto Rico")'>Puerto Rico</div></a>
      <div style="display: inline;">|</div>      
      <a><div style="display: inline;" (click)='getRecipeByWorldCuisine("Japan")'>Japan</div></a>
  </div>
  <div>Meal Type: <a><div style="display: inline;" (click)='getRecipeByMealType("Breakfast")'>Breakfast</div></a>
      <div style="display: inline;">|</div>    
      <a><div style="display: inline;" (click)='getRecipeByMealType("Lunch")'>Lunch</div></a>
      <div style="display: inline;">|</div>      
      <a><div style="display: inline;" (click)='getRecipeByMealType("Dinner")'>Dinner</div></a>
  </div>
</div>

<div class="row">    
  <div>
      <div class="column" *ngFor="let recipe of recipes">
          <img src={{recipe.url}} style="width:100%">
      </div>
  </div>
</div>
