<div id='notLoggedIn'>
		Please sign in to view content.
</div>
<div id='recipeBody' class="container">
	<div class="row">
		<h1 id='title'></h1>
        <h2 id='author'></h2>
        <img id='mainIMG' class="visible-lg img-responsive" alt="">
		<div> 
			<div id='description'></div>	
			<div id='rating' style="display: inline;"></div>
			<div id='numRatings' style="display: inline;"></div>					
		</div>
		<div>
			<div>Ingredients: 
				<li *ngFor="let ing of ingredients">{{ing}}</li>
			</div>
			<div id='steps'></div>
		</div>
	</div>
</div>
