<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!--h1>
    Welcome to COOKIE~
  </h1>

</div>
<div-->

  <table id="tt">
    <tr>
      <th style="text-align:left"> </th>
      <th style="text-align:center"> </th>
      <th style="text-align:right"></th>
      <th style="text-align:right"></th>
      <th style="text-align:right">Sign in</th>
      <th style="text-align:right">Sign up</th>
    </tr>

  </table>

</div>


<router-outlet></router-outlet>
