<!--The content below is only a placeholder and can be replaced.-->
<!--div style="text-align:center">
  <!--h1>
    Welcome to COOKIE~
  </h1>

</div>
<div>

  <table id="tt">
    <tr>
      <th style="text-align:col-sm-8"></th>
      <th style="text-align:col-sm-8"></th>
      <th style="text-align:col-sm-8"></th>
      <th style="text-align:col-sm-8; text-size:50px">Sign in</th>
      <th style="text-align:col-sm-8">Sign up</th>
    </tr>

  </table>

</div>

<div>
  <img src="https://imgur.com/8V2jUlF.png" class="img-rounded" align="center" width="50%"/>
</div-->

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="home" routerLinkActive="active">
        <a class="navbar-nav">
          <!--img src="https://imgur.com/8V2jUlF.png" width="5%"/-->
          COOKIE
        </a>
      </a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active" (click)="refresh()">
          <a routerLink="home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>

        <li (click)="refresh()">
          <a routerLink="recipe" routerLinkActive="active">Recipe</a>
        </li>

        <!--li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a routerLink="recipe" routerLinkActive="active">Action</a>
            </li>
            <li>
              <a routerLink="recipe" routerLinkActive="active">Another action</a>
            </li>
            <li>
              <a routerLink="recipe" routerLinkActive="active">Something else here</a>
            </li>

            <li>
              <a routerLink="recipe" routerLinkActive="active">Separated link</a>
            </li>

            <li>
              <a routerLink="recipe" routerLinkActive="active">One more separated link</a>
            </li>
          </ul>
        </li-->
      </ul>
      <form id="signin" class="navbar-form navbar-right" role="form">

        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="email" type="email" [(ngModel)]="email" class="form-control" name="email" value="" placeholder="Email Address">
        </div>

        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input id="password" type="password" [(ngModel)]="password" class="form-control" name="password" value="" placeholder="Password">
        </div>

        <button type="submit" class="btn" (click)="signin()">
          <a>Sign In</a>
        </button>
        <button class="btn" (click)="refresh()">
          <a routerLink="signup" routerLinkActive="active">Sign Up</a>
        </button>
        <div>
          <p id='signInError' style="color:red;" hidden>ERROR</p>
        </div>
      </form>

      <div>
        <div class="navbar-right" id='logout' hidden><button class="btn" (click)="logout()" ><a>Logout</a></button></div>
        <div class="navbar-right" id='helloUser' style="color:green;" hidden>WELCOME</div>        
      </div>
    </div>
  </div>
</nav>


<!--div>
  <img src="https://imgur.com/8V2jUlF.png" class="img-rounded" align="center" width="50%"/>
</div-->
<router-outlet></router-outlet>
